/* all p is going to be this distinction  */
h1{color: rgb(26, 26, 27); 
    font-size: xx-large;
    text-align: center;
}

/* subheading labeled p1 */
#subheading{color: rgb(26, 26, 27); 
    font-size: xx-large;
    text-align: center;
}

body {
    background-color: #90adbe; /* Grey-blue background */
}

/* Ensure the map container has a height and width */
#map1 {
    height: 640px;  /* Set the height as per your previous example */
    width: 50%;    /* Optional: makes the map take full width of the container */
}

/* Ensure the second map container has a height and width */
#map2 {
    height: 640px;  /* Set the height as per your previous example */
    width: 50%;
    /*margin-top: 100px;    /* Optional: makes the map take full width of the container */
}

#maptitle{
    font-size: x-large;
    text-align: left ;
}

#maptitle2{
    font-size: x-large;
    text-align: left;
}